<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/home" class="active">Home</a>
        <a href="/about">About Us</a>
        <a href="/career">Career</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="text">
        <h2>Welcome</h2>
        <p>This is Home Page.</p>
    </div>
    <form action="/upload" method="POST" enctype="multipart/form-data">

        <input type="file" name="profileImage"/>
        <button type="submit">Upload</button>
    </form>
</body>

</html>